.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: #000;
  height: 100%;
  overflow: auto;
}

.title {
  font-weight: normal;
  color: azure;
}

.link {
  color: rosybrown;
  text-decoration: underline;
}